<div ng-app="gameGrid" ng-controller="sequencedGridController as gridViewModel">
	<span ng-if="gridViewModel.expectedCell">Currently looking for: {{gridViewModel.expectedCell.Value}}</span>
	<span ng-if="!gridViewModel.expectedCell">Congratulations! You took  {{gridViewModel.elapsedTime | date:':mm:ss:sss'}} seconds - {{gridViewModel.elapsedTime}} ms</span>
	<cg-timer milliseconds-since-start="gridViewModel.elapsedTime" run-timer="gridViewModel.gameInProgress"></cg-timer>
	<div>
		<table style="border-collapse: separate; border-spacing: 5px;">
			<tr ng-repeat="row in gridViewModel.grid.rows">
				<td ng-repeat="cell in row">
					<a class="btn" ng-class="cell.completed ? 'btn-success' : 'btn-primary'" style="width:75px;height:75px;" ng-click="gridViewModel.onCellClicked(cell)">{{cell.Value}}</a>
				</td>
			</tr>
		</table>
	</div>
</div>

