html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Essentials */
.gameWindow {
	display: table;
}

.gameContent {
	display: table-row;
	height: 100%;
}

.gameContentBody {
	display: table-cell;
}

/* Aesthetics */
.gameWindow {
	width: 100%;
	height: 100%;
}

.gameHeader, .gameFooter {
	padding: 10px 20px;
	background: #f7f7f7;
}

.gameContentBody {
	padding: 20px;
	background: #e7e7e7;
}

.gameGrid {
	width: 100%;
	height: 100%;
	border-spacing: 6px;
	border-collapse: separate;
}

.gameCell {
	text-align: center;
	vertical-align: middle;
	border-radius: 25px;
	font-size: 4vw;
}

.gridMessage {
	font-size: 2vw;
	float:right;
}

.timer {
	font-size: 2vw;
	float:left;
}

@media only screen and (max-width: 1020px) {
	.gameCell {
		font-size: 7vw;
	}

	.gridMessage {
		font-size: 4vw;
	}

	.timer {
		font-size: 4vw;
	}
}
